{% extends 'oGooseBundle:base.html.twig' %}

{% block content %}
<section class="container" >
    <div class="row">
            {% include 'oGooseBundle:searchform.html.twig' %}
            {% if projects|length > 0 %}
                <div class="searchresults">
                   <header><h1>Resultats</h1></header>

                   {% for project in projects %}
                       {% include 'oGooseBundle:partials:article.html.twig' %}
                   {% endfor %}
               </div>
            {% else %}
                <div class="row">
                    <div class="alert alert-info col-md-12">
                        Ho sentim, però no s'han trobat resultats per les paraules clau indicades.
                    </div>
                </div>   
            {% endif %}
    </div>
</section>
{% endblock %}